.userCount {
    position: relative;
    margin-top: 50px;
    padding: 0 24px;

    @media (width >= 1200px) {
        padding: 0 16px;
        margin-bottom: 24px;
    }
}

.userCountWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 60px;
    border-radius: var(--radius-md);
    background-color: rgba(71, 78, 161, 0.2);
}

.userCountTitle {
    margin-bottom: 12px;
    font-size: 0.875rem;
    font-weight: var(--f-weight-semibold);
    line-height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--blue-primary);
}

.userCountNumber {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 2.125rem;
    font-weight: var(--f-weight-semibold);
    line-height: 3.5rem;
    color: var(--blue-primary);
}

.userCountIcon {
    width: 40px;
    height: 40px;
    fill: var(--blue-primary);
}
