.btnLogin {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 180px;
    height: 44px;
    font-size: 1rem;
    font-weight: var(--f-weight-regular);
    line-height: 1.5rem;
    text-decoration: none;
    border-radius: var(--radius-md);
    border: 1px solid var(--white);
    color: var(--white);
}
