.footer {
    position: relative;
    padding: 20px 24px;
}

.copyright {
    font-size: 0.875rem;
    font-weight: var(--f-weight-semibold);
    line-height: 1.5rem;
    text-align: center;
    color: var(--gray);
}
